# Create tables that have minimal PowerGenome data
* carbon_policies
* financials
* periods

In [1]:
'''
Import based on imports found in the notebooks located here:
Schivley Greg, PowerGenome, (2022), GitHub repository, 
    https://github.com/PowerGenome/PowerGenome/tree/master/notebooks
'''

###
# module issue
import os
import sys
module_path = os.path.abspath(os.getcwd() + '\\..')
if module_path not in sys.path:
    sys.path.append(module_path)
###

import pandas as pd
import numpy as np

from powergenome.util import (
    build_scenario_settings,
    init_pudl_connection,
    load_settings,
    check_settings
)
from pathlib import Path

import ast
import itertools
from statistics import mode

In [2]:
'''
Import based on imports found in the notebooks located here:
Schivley Greg, PowerGenome, (2022), GitHub repository, 
    https://github.com/PowerGenome/PowerGenome/tree/master/notebooks
'''

cwd = Path.cwd()

settings_path = (
    cwd / "settings_TD.yml" 
)
settings = load_settings(settings_path)
settings["input_folder"] = settings_path.parent / settings["input_folder"]
scenario_definitions = pd.read_csv(
    settings["input_folder"] / settings["scenario_definitions_fn"]
)
scenario_settings = build_scenario_settings(settings, scenario_definitions)

pudl_engine, pudl_out, pg_engine = init_pudl_connection(
    freq="AS",
    start_year=min(settings.get("data_years")),
    end_year=max(settings.get("data_years")),
)

# check_settings(settings, pg_engine)

# carbon_policies

In [3]:
# Based on REAM
carbon_policies_data = {'period':[2020, 2030, 2040, 2050], 'carbon_cap_tco2_per_yr':[222591761.6,
                        149423302.5, 76328672.3, 0], 'carbon_cap_tco2_per_yr_CA':[57699000, 36292500, 11400000, 0],
                       'carbon_cost_dollar_per_tco2':['.','.','.','.']}
carbon_policies_table = pd.DataFrame(carbon_policies_data)
carbon_policies_table

,period,carbon_cap_tco2_per_yr,carbon_cap_tco2_per_yr_CA,carbon_cost_dollar_per_tco2
0,2020,222591761.6,57699000,.
1,2030,149423302.5,36292500,.
2,2040,76328672.3,11400000,.
3,2050,0.0,0,.

# financials

In [4]:
atb_data_year = settings.get('atb_data_year')
# interest and discount based on REAM
financials_data = {'base_financial_year':atb_data_year, 'interest_rate': 0.05, 'discount_rate':0.05}
financials_table = pd.DataFrame(financials_data, index=[0])
financials_table

   base_financial_year  interest_rate  discount_rate
0                 2021           0.05           0.05

# periods

In [5]:
# based on REAM
periods_data = {'INVESTMENT_PERIOD':[2020,2030,2040,2050], 'period_start':[2016,2026,2036,2046],
               'period_end':[2025,2035,2045,2055]}
periods_table = pd.DataFrame(periods_data)
periods_table

   INVESTMENT_PERIOD  period_start  period_end
0               2020          2016        2025
1               2030          2026        2035
2               2040          2036        2045
3               2050          2046        2055

# Export as CSV files

In [6]:
carbon_policies_table.to_csv(r'SWITCH_Inputs\carbon_policies.csv', index = False)
financials_table.to_csv(r'SWITCH_Inputs\financials.csv', index = False)
periods_table.to_csv(r'SWITCH_Inputs\periods.csv', index = False)